/*/--------------// Look & Feel //--------------/*/
* {
    outline: none;
}
body {
    background: linear-gradient(rgba(35, 34, 20, 0.7), rgba(35, 34, 20, 0.7)), url(../img/desk-lauren-mancke.jpg) fixed;
    background-blend-mode: multiply;
    background-size: cover;
    color: #fff;
    border-top: 0.5rem solid #fff;
    overflow-x: hidden;
}


/*/--------------// Header //--------------/*/
header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
header h1 a, header h1 a:hover {
    color: #fff;
}
header h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

/*/--------------// Navigation //--------------/*/
nav {
    margin-top: 1rem;
}
nav > .menu > li > a {
    border: 1px solid #fff;
    border-radius: 0.2rem;
    color: #fff;
    text-transform: uppercase;
    padding: .7rem 1rem !important;
}
nav > .menu > li > a:after {
    display: none !important;
}
.is-dropdown-submenu {
    background: transparent;
    text-align: right;
    border: none;
}

/*/--------------// Typography & Links //--------------/*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Glass Antiqua", arial, sans-serif;
}
.button, nav > .menu > li > a, .cta {
    font-family: "Montserrat", arial, sans-serif;
}
h1 {
    color: #fff;
}
h2 {
    color: rgba(255, 245, 215, 0.7);
}
a {
    color: #4e96a7;
}
a:hover {
    color: #fff;
}
.calltoaction {
    margin: 2rem 0;
}
.cta {
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #4e96a7;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}
.cta:hover {
    color: rgba(255, 255, 255, 0.76);
    border: 2px solid #467b8c;
}
p {
    font-size: 1.25rem;
}


/*/--------------// Content //--------------/*/
section {
    position: absolute;
    left: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
section.active {
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    padding: 35vh 0;
    overflow: visible;
    transition: all 2.5s ease;
    -webkit-transition: all 2.5s ease;
}

/*/--------------// Footer //--------------/*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
footer * {
    font-size: 0.8rem;
}

/*/--------------// Media Queries //--------------/*/
@media screen and (max-width: 40em){
    #menutoggle {
        display: block;
    }
    nav {
        display: none;
        text-align: center;
    }
    nav.open {
        display: block;
    }
    nav .menu {
        display: block;
    }
    nav .columns {
        padding: 0;
    }
    .menu > li{
        display: block;
        width: 100%;
    }
    .menu.float-right {
        float: none !important;
    }
}