body {
    font-size: 1.5rem;
    color: #444;
}
/* Main Sections */
header {
    font-size: 1.25rem;
    text-align: center;
    background: #2D2D2D;
}
header, footer {
    padding: 2rem;
}
#content {
    padding: 4rem 2rem;
}
footer {
    font-size: 1rem;
    background: #f8f8f8;
}
nav {
    text-align: center;
    background: #21C9E8;
    font-size: 0;
}
nav .menu {
    display: inline-block;
    font-size: 1rem;
}
nav .menu a {
    color: #fff;
    line-height: 1.5rem;
}
.menu a:hover, .menu .active>a {
    background: #2D2D2D;
}


/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 175%;
}
h1, .logo {
    font-family: "Abril Fatface", "Helvetica Neue", "Helvetica", Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 3rem;
}
h1 {
    color: #21C9E8;
}
h2 {
    color: #FFBA3B;
}
a.logo {
    color: #fff;
}
a.logo:hover {
    color: #888;
}
ul {
    margin-left: 3rem;
}



/* Article Styles */
aside {
    float: right;
    width: 20rem;
    max-width: 100%;
    border: 1px solid #efefef;
    padding: 1rem;
    font-size: 1rem;
    font-style: italic;
    margin: 0 0 2rem 2rem;
    background: #f6f6f6;
}

/* Links */
a {
    color: #21C9E8;
}
a:hover {
    color: #ffba3b;
}
.cta {
    background: #ffba3b;
    padding: 1rem 2rem;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5rem;
    border-bottom: 3px solid rgb(255, 166, 0);
    box-shadow: 0 0.2rem 0.05rem rgba(0, 0, 0, 0.16);
}
.cta:hover, .cta:active, .cta:focus {
    background: #ffa220;
    color: #fff;
}
/* Calls to Action */
.calltoaction {
    margin-top: 2rem;
}

/* Navigation */
#menutoggle {
    display: none;
}
@media screen and (max-width: 40em){
    #menutoggle {
        text-align: center;
        display: block;
        vertical-align: middle;
        background: #21C9E8;
        color: #fff;
        padding: 0.5rem 0;
        font-size: 1.5rem;
    }
    nav {
        display: none;
        text-align: center;
    }
    nav.open {
        display: block;
    }
    nav .menu {
        display: block;
    }
    nav .columns {
        padding: 0;
    }
    .menu > li{
        display: block;
        width: 100%;
    }
    .menu.float-right {
        float: none !important;
    }
}

/* Media Queries */

@media screen and (max-width: 40em){
    body {
        font-size: 1rem;
    }
    header {
        padding: 2rem 1rem;
    }
    aside {
        float: none;
        display: block;
        margin: 2rem auto;
    }
    footer, footer p {
        text-align: center;
    }
    .logo {
        font-size: 2rem;
    }
    #content {
        padding: 1rem;
    }
    aside {
        margin: 1rem 0;
    }
    ul {
        margin-left: 2rem;
    }
    .cta {
        display: block;
    }
}